 @media screen and (min-width: 768px) {
     .logo-pic img {
         width: 300px;
     }

     .user-ctrl {
        grid-area: c;
     }

     #usr-status,
     .menu-container {
         display: inline-block;
     }

     #tg-mn {
         display: none;
     }

     .menu-list {
        flex-flow: row nowrap;
    }

    .menu-container{
        position: static;
        grid-area: b;
    }

     .mn-it a::after {
         display: inline-block;
         content: " ▾";
         color: var(--font2-color);
         transition: all .5s ease-in-out;
     }

     .mn-it a:hover::after {
         transform: rotate(-180deg);
         color: var(--secundary-color);
     }

     .mn-it a {
        padding: 0 10px;
    }
    .mn-it {
        padding:0 20px;
    }

     main {
         grid-template-areas:
             "a a a a a"
             "a a a a a"
             "a a a a a"
             "b b b b b"
             "c c c c c";
     }

     .hero {
         width: 100%;
         /* border: 1px solid var(--alt-color); */
     }

     .hero img {
         height: 400px;
     }

     .billboard {
         width: 200%;
     }

     .billboard-list {
         flex-flow: row wrap;
         align-items: flex-start;
         place-content: center;
     }

     .prem-list {
         flex-flow: row wrap;
         max-width: 100%;
     }

     .featured {
         border-radius: 3px;
     }

     .featured .billboard-list {
         justify-content: center;
     }

     .discuss-sect {
         /* border: 1px solid var(--font2-color); */
         width: 200%;
         display: grid;
         grid-template-areas:
             "a a a a"
             "b b c c"
             "b b . .";
     }

     .discuss-sect h2 {
         grid-area: a;
     }

     .feat-forum {
         grid-area: b;
     }

     .discuss-sub {
         grid-area: c;
     }

     .movie-info {
         grid-template-areas:
             "a a b b"
             "a a c c";
         /* "c c c c" */
         align-items: flex-start;
         justify-content: space-around;


     }

     .movie-info img {
         grid-area: a;
         width: 400px;
         height: auto;
         border-radius: 5px;
     }

     .movie-details {
         grid-area: b;
     }

     .movie-trailer {
         margin-top: 80px;
         grid-area: c;
     }

     .booking-sect {
         width: 200%;
         display: grid;
         grid-template-columns: 1fr;
         place-items: center;
     }

     .booking-cont {
         display: grid;
         grid-template-areas:
             "a b";
         place-items: center;
     }

     .booking-form {
         grid-area: a;
     }

     .booking-cont img {
         -webkit-user-drag: none;
         width: 350px;
         height: auto;
         grid-area: b;
     }

     footer {
         box-shadow: 0 -1px 20px 1px var(--font2-color);
         border-top: 1px solid var(--font2-color);
         grid-template-areas:
             "a b c c ."
             "d d d d d";
     }

     .soc-m-list img {
         filter: grayscale(100%);
         transition: all .3s ease-in-out;
     }

     .soc-m-list img:hover {
         filter: grayscale(0);
     }

 }