:root {
    --main-color: #001322ff;
    --secundary-color: #ba181bff;
    --alt-color: #660708ff;
    --alt-color-ligther: rgba(102, 7, 9, 0.542);
    --font-color: #f5f3f4ff;
    --font2-color: #ffdb0eff;
    --highlight-color: #d3d3d3ff;
    --small: .7rem;
    --normal: 1rem;
    --medium: 1.5rem;
    --large: 2rem;
    --xxl: 3rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--main-color);
    color: var(--font2-color);
}

.highlight{
    color: var(--font2-color);
    text-decoration: underline;
    cursor: pointer;
}

hr {
    border: 1px solid var(--font2-color);
    width: 80%;
    margin: 10px 0;
}

p,
a,
li,
span,
label,
button,
textarea,
input,
option {
    text-decoration: none;
    color: var(--font-color);
    font-family: 'Quicksand', sans-serif;
}

h1,
h2,
h4,
h4,
h5,
h6 {
    font-family: 'Tinos', sans-serif;
}



/*! header style-------------------------- */

header {
    /* background-color: var(--alt-color); */
    display: grid;
    place-items: center;
    grid-template-areas: "a . . b c";
    border-bottom: 1px solid var(--alt-color);
}

.logo {
    padding: 5px 0;
    grid-area: a;
}

.user-ctrl {
    justify-self: right;
    margin-right: 20px;
    grid-area: b;
    display: flex;
    place-items: center;
    cursor:pointer;
}

.access-form{
    box-shadow: 0 0 10px 1px var(--font2-color);
    flex-flow: column nowrap;
    place-items: center;
    top: 40px;
    left: 10%;
    width: 400px;
    height: fit-content;
    background-color: var(--alt-color);
    padding: 20px;
    border-radius: 3px;
    border: none;
}

.access-form img{
    margin: 5px 0 10px 0 ;
}
.access-form input{
    min-width: 300px;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: none;
}

.access-form button{
    border: 1px solid var(--alt-color);
    transition: all;
}
.access-form button:hover{
    color: var(--font2-color);
    border-color:var(--font2-color) ;
}
.access-form h1{
    color: var(--font2-color);
}

.modal-close::after{
    cursor: pointer;
    content: "✖";
    font-size: var(--large);
    position: absolute;
    right: 10px;
    top: 10px;
    color: var(--highlight-color);
}

.access-form p{
    margin-top: 10px;
    font-size: var(--normal);
    text-align: center;
}

.access-form::backdrop{
    background-color: rgba(0, 0, 0, 0.575);
}

.user-ctrl img {
    filter: invert(100%);
    width: 30px;
    margin-right: 5px;
}

#usr-status,
.menu-container {
    display: none;
    justify-self: right;
}

.menu-container {
    grid-area: b;
    z-index: 1;
    width: 100%;
    padding: 20px 0;
}


.menu-container.show {
    animation: starter 0.5s ease-in-out ;  
}

@keyframes starter {
    0% {
        right: -100%;
        opacity: 0;
    }
    100% {        
        right: 0;
    }
}

.menu-list {
    display: flex;
    flex-flow: column nowrap;
    list-style: none;
}

.show{
    display: inline-block;
}

.mn-it {
    padding: 15px 0;
}
.mn-it:active {
    background-color: var(--font2-color);
}

.mn-it a {
    padding:5px 79% 5px 15px;
}

#tg-mn {
    grid-area: c;
    padding: 0;
    width: 55px;
    height: 55px;
}
#tg-mn::after {
    content: "〣";
    transform: rotate(-90deg);
    display: inline-block;
    margin-left: 3px;
    font-size: var(--xxl);
    cursor: pointer;
}
#tg-mn.show::after{
        /* transform: translateX(0); */
    content: "✖";
}

/*! main style-------------------------- */
main {
    width: 100%;
    padding: 10px 0;
    display: grid;
    grid-template-areas:
        "a"
        "b"
        "c"
        "d"
        "f";
    place-items: center;
    place-content: center;
}

main>* {
    max-width: 960px;
}

section h2 {
    border: 1px solid var(--font2-color);
    color: var(--font2-color);
    padding: 5px 30px;
    margin: 10px;
    width: fit-content;
    place-self: center;
    border-radius: 3px;
    text-align: center;
}

main section {
    width: 100%;
    min-width: 350px;
    margin: 20px 0;
    /* border: 1px solid var(--font2-color); */
}

/** ------------- home style ------------------ */
.hero {
    position: relative;
    grid-area: a;
    width: 100%;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-info {
    position: absolute;
    height: fit-content;
    width: 100%;
    padding: 10px 0 20px 0;
    top: 30%;
    text-align: center;
    color: var(--font2-color);
    background-color: var(--alt-color-ligther);
}

.hero-btn {
    background-color: var(--font2-color);
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0 10px;
    color: var(--main-color);
    transition: all .3s ease-in-out;
}

.prem-it-btn:hover,
.hook-btn:hover,
.hero-btn:hover {
    background-color: var(--alt-color);
    color: var(--font2-color);
    box-shadow: 0 0 5px var(--font2-color);
    cursor: pointer;
}

.hero-info p {
    margin: 15px 0;
}

.premiere {
    grid-area: b;
    display: flex;
    flex-flow: column nowrap;
    place-items: center;
}

.prem-list {
    padding: 5px;
    width: 100%;
    max-width: 250px;
    display: flex;
    flex-flow: row nowrap;
    overflow: auto hidden;
}

.prem-item {
    display: flex;
    flex-flow: column nowrap;
    place-items: center;
    position: relative;
    width: 250px;
    min-width: 200px;
    height: 310px;
    margin: 0 15px;
    padding: 5px;
    border: 1px solid var(--highlight-color);
    border-radius: 5px;
}

.prem-item img {
    margin-bottom: 5px;
    width: 150px;
    height: 175px;
    object-fit: cover;
    border-radius: 5px;
}

.prem-it-btn {
    position: absolute;
    bottom: 0;
    background-color: var(--secundary-color);
    color: var(--font-color);
    width: 80%;
    margin: 10px 10%;
    padding: 5px 0;
    border-radius: 5px;
    border: none;
    transition: all .3s ease-in-out;
}

.prem-it-btn::after {
    content: " ★";
    color: var(--font2-color);
}

.billboard {
    /* border: 1px solid var(--font2-color); */
    grid-area: c;
    display: flex;
    flex-flow: column nowrap;

}

.billboard-list {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 5px;
    width: 100%;
}

.bill-item {
    display: flex;
    flex-flow: column nowrap;
    place-items: center;
    justify-content: space-between;
    width: fit-content;
    margin: 10px;
    max-width: 200px;
    text-align: center;
    padding-bottom: 10px;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.bill-item:hover {
    transform: scale(1.1);
}

.bill-item img {
    margin-bottom: 5px;
    width: 200px;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}

.bill-item p {
    font-size: var(--small);
    color: var(--font2-color);
    margin: 0;
}

.bill-item h3 {
    color: var(--font-color);
    word-wrap: break-word;
}

.hook-btn {
    place-self: center;
    margin-top: 20px;
    padding: 10px 25px;
    width: fit-content;
    color: var(--font2-color);
    border: 1px solid var(--font2-color);
    border-radius: 5px;
    transition: all .3s ease-in-out;
}

/** ------------- catalog style ------------------ */
.catalog-sect {
    display: flex;
    flex-flow: column nowrap;
    place-items: center;
}

section>p {
    text-align: center;
    padding: 15px 20px;
    margin-bottom: 10px;
    background-color: var(--alt-color);
    border-radius: 3px;
}

.featured {
    padding: 20px 0;
    width: 100%;
    background-color: var(--secundary-color);
    place-self: center;
}

.i-featured {
    background-color: var(--main-color);
    border-radius: 3px;
}

/** ------------- forum style ------------------ */
.feat-forum {
    max-width: 500px;
    padding: 30px;
}

.discuss-feat {
    grid-area: a;
}

.discuss-sect {
    grid-area: c;
}

.hr-line-frm {
    grid-area: b;
}

form button {
    background-color: var(--secundary-color);
    color: var(--font-color);
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
}

form input,
form select,
form textarea {
    color: var(--main-color);
    font-size: var(--normal);
    width: 100%;
    max-width: 500px;
    padding: 10px;
    margin: 3px 0 10px 0;
    border-radius: 5px;
    border: none;
    display: block;
}

option{
    color: var(--main-color);
}

.feat-forum textarea {
    height: 200px;
    resize: none;
}

.discuss-sub {
    margin-top: 25px;
    border: 2px solid var(--secundary-color);
    padding: 5px 0;
    border-radius: 5px;
    background-color: var(--alt-color-ligther);
}

.discuss-list {
    display: flex;
    flex-flow: column nowrap;
    padding: 5px;
    width: 100%;
    max-height: 400px;
    overflow: hidden auto;
}

.discuss-item {
    background-color: var(--alt-color);
    margin: 10px 5px;
    padding: 10px;
    border-radius: 5px;
    width: fit-content;
}

#date {
    font-size: var(--small);
    color: var(--font2-color);
    margin-top: 15px;
    text-align: right;
}


/** ------------- showtime style ------------------ */

/** ------------- booking style ------------------ */
#booking-form {
    padding: 10px 20px;
    width: 100%;
    max-width: 400px;
}

.booking-cont {
    position: relative;
}

#booker {
    width: 80%;
    margin: 5% 10%;
    transition: all .3s ease-in-out;
    border: 1px solid var(--secundary-color);
}
#booker:hover {
    color: var(--font2-color);
    border: 1px solid var(--font2-color);
}

.required {
    color: var(--font2-color);
    font-size: var(--small);
}

/** ------------- complete style ------------------ */
.completed {
    display: flex;
    flex-flow: column nowrap;
    place-items: center;
    padding: 10px 20px;
    width: 100%;
    max-width: 400px;
}

.completed>p {
    text-align: center;
    margin-bottom: 10px;
    font-size: var(--small);
}

#ticket-info {
    display: flex;
    flex-flow: column nowrap;
    place-items: center;
    width: 100%;
    margin: 30px 0;
}

.link {
    color: var(--font2-color);
    text-decoration: underline;
}

/** ------------- preview style ------------------ */
.movie-info {
    padding: 10px;
    display: grid;
    grid-template-areas:
        "a"
        "b"
        "c";
    place-items: center;
}

.movie-info img {
    grid-area: a;
    width: 250px;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}

.movie-details {
    margin-top: 25px;
    grid-area: b;

}

.movie-details button {
    background-color: var(--secundary-color);
}

.movie-trailer {
    grid-area: c;
    margin-top: 10px;
}

iframe {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}


/*! footer style-------------------------- */
footer {
    display: grid;
    grid-template-areas:
        "b c"
        "a a"
        "d d";
    place-items: center;
    background-color: var(--alt-color);
    padding: 10px 0;
    margin-top: 20px;
}

.copy {
    grid-area: d;
    font-size: var(--small);
    color: var(--font2-color);
    margin-top: 10px;
}

.soc-m-sect {
    grid-area: a;
    display: flex;
    flex-flow: column nowrap;
    place-content: center;
}

.soc-m-list {
    margin: 10px 0 0 0;
}

.soc-m-list img {
    width: 30px;
    margin: 0 5px;
    cursor: pointer;
}

.information-sect {
    grid-area: b;
}

.links-sect {
    grid-area: c;
}

.links-sect li,
.information-sect li {
    margin-top: 5px;
    list-style: none;
    font-weight: 100;
    font-size: var(--small);
}

.footer-links:hover {
    text-decoration: underline;
    color: var(--font2-color);
}

.grading {
    color: var(--font2-color);
}

@media screen and (max-width: 930px) {
    .booking-cont img {
        position: absolute;
        top: 0;
        width: 400px;
        height: auto;
        z-index: -1;
        filter: blur(3px) brightness(0.5) opacity(0.5);
    }

    .menu-container {
        position: absolute;
        top: 70px;
        /* right: -100%; */
    }
    
    .menu-list {
        width: 100%;
        padding: 20px 0;
        background-color: var(--alt-color);
    }

}