:root {
    --main-color: #ffffff;
    --under-color: #ececec;
    --under2-color: #b9b9b9;
    --under3-color: #f5deb3;
    --primary-color: #8ecae6;
    --secundary-color: #023047;
    --highlight-color: #219ebc;
    --highlight2-color: #ffb703;
    --font1-color: #000000;
    --font-color: #fc9700;
    --small: .8rem;
    --normal: 1rem;
    --medium: 1.2rem;
    --large: 1.5rem;
}

/*! General stuff */

.courier-prime-regular {
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
}

.courier-prime-bold {
    font-family: "Courier Prime", monospace;
    font-weight: 700;
    font-style: normal;
}

.radley-regular {
    font-family: "Radley", serif;
    font-weight: 400;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

.current-page #sub {
    border-color: var(--highlight-color);
}

a {
    font-family: "courier-prime", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: var(--normal);
}

h1,
h2,
h3,
h4 {
    font-family: "Courier Prime", monospace;
    font-weight: 700;
    font-style: normal;
}

p,
li,
button,
label,
figcaption,
option,
input {
    font-family: "Radley", serif;
    font-weight: 400;
    font-style: normal;
    font-size: var(--normal);
}

.dark {
    background-color: var(--font1-color);
    color: var(--font-color);
}

/* header------------------*/
#home-head {
    position: absolute;
    background-color: var(--main-color);
}

/*! ----------------- Header styles --------------- */
header {
    width: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: 75px auto auto;
}

.logo {
    display: none;
}

.head-ctrl {
    justify-self: right;
    width: fit-content;
    grid-column: 3/4;
    display: flex;
    flex-direction: row;
    place-items: center;
    gap: 20px;
}

#menu-toggler,
#bg-toggler {
    cursor: pointer;
    font-size: 2.5rem;
    text-align: center;
    width: 44px;
    height: 44px;
}

#bg-toggler::before {
    content: "◑";
    transition: .5s;
}

#bg-toggler:hover {
    text-shadow: var(--highlight2-color) 0 0 13px;
}

#menu-toggler::before {
    content: "☰";
    animation: rota .15s ease-in-out;
}

#menu-toggler.show::before {
    content: "✖";
    animation: rotb .15s ease-in-out;
}

@keyframes rotb {
    0% {
        filter: blur(90px);
    }
}

@keyframes rota {
    0% {
        filter: blur(90px);
    }
}

#menu {
    z-index: 1;
    position: absolute;
    top: 78px;
    left: -100%;
    animation: wrapperb .2s ease-in-out;
    width: 100%;
    display: none;
    background-color: var(--secundary-color);
    box-shadow: 0 5px 20px 1px var(--secundary-color);
}

#menu li {
    user-select: none;
    list-style: none;
}

#menu li a {
    color: var(--font-color);
    text-decoration: none;
    padding: 10px;
    transition: .5s;
    border-bottom: 2px solid transparent;
}

#menu li a:hover {
    border-bottom: 2px solid var(--highlight2-color);
}

#menu ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#menu.show {
    left: 0%;
    display: block;
    animation: wrapper .2s ease-in-out;
}

/* !----------------------- Main style ---------------------*/
main h1 {
    margin: 20px 0 0 20px;
}

/* ! Home style ---------------------*/
#hero picture img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    -webkit-user-drag: none;
}

.action {
    display: grid;  
    grid-template-rows: 1fr .5fr;
    position: absolute;
    width: 100%;
    background-color: #fabf0ebe;
    border-radius: 6px;
    padding:20px 30px;
    top:20%;
    left:0;
}

.action p {
    font-size: var(--normal);
    text-align: center;
}

.action button{
    padding: 10px 30px;
    justify-self: center;
    background-color: transparent;  
    border: 1px solid var(--secundary-color);
    border-radius: 3px;
    color:var(--secundary-color);
    font-size: var(--medium);
    font-weight: 700;
    cursor: pointer;
    transition: .3s ease-out;
}

.action button:focus,
.action button:hover{
    background-color: var(--highlight2-color);
}

.events>h2,
.forecast>h3,
.weather>h3 {
    margin: 0;
    background-color: var(--highlight2-color);
    padding: 5px;
}

.forecast>h3,
.weather>h3 {
    background-color: var(--highlight-color);
}

.main-tile,
.weather,
.forecast,
.events{
    border-radius: 3px;
    box-shadow: 2px 2px 5px 1px var(--under2-color);
    background-color: var(--under-color);
    padding-bottom: 15px;
}

.weather ul li,
.forecast ul li{
    list-style: none;
    margin-left: -20px;
}

.event-cards-container {
    overflow: auto;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-flow: row nowrap;
    gap: 15px
}

.event-card {
    width: 250px;
    height: 350px;
    background-color: var(--secundary-color);
    color: var(--main-color);
    padding: 15px;
    border-radius: 3px;
}

.event-card img{
    width: 220px;
    height: 200px;
    object-fit: cover;
}

.event-card p{
    margin: 0;
}

.sec-section {
    display: flex;
    place-content: center;
    gap: 15px;
    margin-bottom: 10px;
    padding:20px ;
    border-radius: 5px;
}

.main-tile {
    text-align: center;
}

.main-tile h3 {
    margin: 10px 0 0 0;
    list-style: none;
}

/* ! Directory style ----------------*/
/* ! Commerce card design------------*/
.main-container {
    justify-self: center;
    padding: 10px;
    width: 100%;
    max-width: 960px;
}

.mn-tl-cont {
    border-bottom: 1px solid var(--font-color);
    padding: 0 10px 3px 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: right;
}

.view-toggler.dark #aa,
.view-toggler.dark #ab {
    filter: invert(100%);
}

.view-toggler {
    border-radius: 6px;
    border: 1px solid var(--font1-color);
    justify-self: right;
    align-self: flex-end;
    margin-bottom: 3px;
    display: none;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

.view-toggler img {
    object-fit: cover;
}

#grid {
    border-right: 1px solid black;
}

#list,
#grid {
    padding: 8px 10px 4px 10px;
    cursor: pointer;
}

.grid .tile {
    width: 300px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
}

.grid .tile img {
    width: 280px;
    grid-area: 1/1/2/2;
}

.grid .tile div {
    grid-area: 2/1/3/2;
}

.grid .tile div h2 {
    text-align: center;
}

#list:hover,
#grid:hover {
    background-color: rgb(216, 216, 216);
}

.commerce-cont {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-items: center;
    justify-content: left;
    gap: 20px;
}

.tile * {
    margin: 0;
    padding: 0;
}

.tile {
    display: grid;
    grid-template-columns: 250px 1fr;
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    /* border: 1px solid var(--highlight2-color); */
    transition: .3s ease-out;
}

.tile:hover {
    background-color: var(--main-color);
    box-shadow: 6px 6px 15px 1px var(--under3-color);
    color: var(--font1-color);
    transform: scale(1.01);
}

.tile h2 {
    margin-bottom: 25px;
}

.tile li {
    list-style: none;
    margin: 0 0 5px 10px;
    max-width: 235px;
}

.tile li a {
    color: var(--secundary-color);
}

.tile-title {
    font-size: var(--normal);
    font-weight: 900;
}

#commerce.dark ul a {
    color: var(--primary-color);
}

.tile img {
    border-radius: 3px;
    object-fit: cover;
    width: 230px;
    height: 200px;
}

/*! join style---------------------- */
.form-level-cont{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
}
.form-cont{
    width: 90%;
}

.form-cont form{
    width: 100%;
}

label{
    margin: 0 3px ;
    font-weight: 700;
    font-size: var(--normal);
}

label span {
    color: rgb(199, 0, 0);
    font-size: var(--small);
}
label textarea {
    height: 150px;
    resize: none;
}

label input,
label select,
label textarea {
    display: block;
    padding:8px 10px;
    margin:5px 0 15px 0;
    width: 100%;
    font-size: var(--normal);
    border-radius: 3px;
    border: 1px solid var(--secundary-color);
    background-color: var(--main-color);
}

label input:invalid,
label select:invalid {
    border-left: 3px solid red;
}
label input:valid,
label select:valid {
    border: 1px solid green;
}

.levels-cont{
    order: -1;
}

.levels-cont h2{
    text-align: center;
}

.membership{
    display: flex;
    flex-flow: row wrap;
    place-content: center;
    gap: 5px;
    padding-bottom: 10px;
    border-radius: 3px;
}
.cat-view{
    background-color: var(--main-color);
    display: flex;
    flex-flow: column;
    align-items: center;
    border-radius: 3px;
    padding: 10px;
    gap: 5px;
    transition: .3s;
    width: 150px;
}

.cat-view img{
    width: 80%;
    height: 120px;
    object-fit: cover;
}

.cat-view img,
.cat-view h4 {
    margin: 0;
}

#joiner,
.cat-view button{
    cursor: pointer;  
    border-radius: 25px;    
    transition: .3s;
}

.cat-view button{
    padding:3px 10px;
    border: 1px solid var(--font-color);
}

.cat-view button:hover{
    background-color: var(--under3-color);
    color: var(--font1-color);
}

#joiner{
    width: 80%;
    margin: 20px 10%;
    padding: 10px;
    font-size: var(--medium);
    font-weight: 700;
    border: 2px solid transparent;
    background-color: var(--font1-color);
    color: var(--font-color);
}

#joiner:focus,
#joiner:hover{
    background-color: var(--font1-color);
    border-color:var(--font-color);
}

/*! ---------------------- Footer style-----------------------------*/
footer {
    border-top: 1px solid var(--main-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    place-items: center;
    background-color: var(--secundary-color);
    color: var(--font-color);
}

footer li {
    font-size: var(--small);
    list-style: none;
    margin-left: -20px;
}

.s-info {
    grid-area: 1/1/2/2;
}

.n-icons {
    grid-area: 1/2/2/3;
    align-self: flex-start;
}

.n-icons h5 {
    margin-bottom: 5px;
}

.p-info {
    grid-area: 2/1/3/3;
    text-align: center;
}

/*! specific styles for the small view ---------------------------------------- */
@media screen and (max-width:760px) {
    @keyframes wrapperb {
        0% {
            display: flex;
            left: 0%;
        }
    }

    @keyframes wrapper {
        0% {
            left: -100%;
        }
    }

    .commerce-cont {
        place-content: center;
    }

    .main-container #commerce .tile {
        width: 260px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
    }

    .main-container #commerce .tile div {
        grid-area: 2/1/3/2;
    }

    .main-container #commerce img {
        width: 237px;
        grid-area: 1/1/2/2;
    }

    .main-container #commerce div h2 {
        text-align: center;
    }

    .sec-section {
        flex-wrap: wrap;
        padding: 0 20px;
    }

    .main-tile {
        width: 100%;
    }
    .main-section *{
        margin-bottom: 10px;
    }
}