:root {
    --main-color: #91c2ff;
    --secundary-color: #d1d1d1;
    --alternative-color: #ffffff;
    --font-color: #000000;
    --font2-color: #38005e;
    --highlight-color: #534b4b;
    --highlight2-color: #91c2ff;
    --small: .8rem;
    --normal: 1rem;
    --large: 2rem;
}

* {
    box-sizing: border-box;
}


p,
a,
figcaption,
li {
    font-size: var(--normal);
}

body {
    background-color: var(--alternative-color);
    display: grid;
    /* grid-template-areas: 0.5frdivuto 2rem / 1fr; */
}

.charm-regular {
    font-family: "Charm", serif;
    font-weight: 400;
    font-style: normal;
}

.charm-bold {
    font-family: "Charm", serif;
    font-weight: 700;
    font-style: normal;
}

.henny-penny-regular {
    font-family: "Henny Penny", serif;
    font-weight: 400;
    font-style: normal;
}

/*  header stuff -------------- */
header{
    background-color: var(--main-color);
    text-align: center;
    display: flex;
    place-content:center;
}

li { 
    list-style-type: none;
    margin: 5px 0 5px -30px;
}

li::before {
    content: "✯";
    /* margin-right: 10px; */
}

header h2 span{
    display: block;
}


h2 span img{
    border-radius: 10px;
    box-shadow: -4.5px 4.5px 1px 1px var(--highlight-color);
}

.menu {
    display: none;
    transition: 1s ease-in-out;
    transform: translateY(-20px);
    animation: .5s ease-in-out wrapper;
    background-color: var(--secundary-color);
    padding: 25px 0;
    gap: 10px;
    text-align: left;
    padding-left: var(--large);    
    /* animation: .5s ease-in-out wrapperOut; */
}

.menu.show{
    display: flex; 
    flex-flow: column nowrap;
}

@keyframes wrapper {
    0%{
        transform: translateY(-160px);
        filter: opacity(0);
    }
    100%{
        transform: translateY(0);
    }
}

/* @keyframes wrapperOut {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-160px);
        }
        } */
        
.menu a {
    width: 100%;
    text-decoration: none;
    padding: 0.5rem;
    color: var(--font-color);
    font-size: var(--normal);
}

.menu a:hover {
    color: var(--font2-color);

}

.menu a:hover::before,
.menu a:active {
    content: "➥ ";
    color: var(--font-color);
}

.player::after {
    content: "☰";
    font-size: var(--large);
    color: var(--font-color);
    cursor: pointer;
    padding: 0.5rem .8rem;
    position: absolute;
    right: 1rem;
    top: 3rem;
}
.player.show::after
{
    content: "✖";
}

/*  Main stuff -------------- */
main {
    background-color: var(--alternative-color);
    width: 100%;
    margin: 0;
    padding: 1rem 1.5rem;
    display: grid;
    grid-template-columns: 1fr;
    justify-self: center;
    gap: 1rem;
}

main h2 {
    text-align: center;
}

section {
    width: 100%;
    justify-self: center;
    padding: 1rem 1.5rem;
}

section img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.filter{
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-around ;
}

.filter button{
    border: none;
    box-shadow: 1px 1px 5px var(--highlight-color);
    width:80px;
    padding: 5px 0 ;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}

.filter button:hover{
    background-color: var(--highlight-color);
    color: var(--alternative-color);
    box-shadow: 2px 3px 3px var(--highlight-color);
}
main .bottom-ct{
    height: auto;
    min-height: 400px;
}

.class-ct{
    padding: 20px 0;
    display: flex;
    flex-flow: row wrap;
    place-content: center;
    gap: 15px;
}

.class-ct div {
    text-align: center;
    color: var(--alternative-color);
    width: 250px;
    padding: 10px 0;
    border-radius: 5px;
    text-decoration: none;
    transition: .5s;
}
.class-ct div:hover{
    box-shadow: 0 0 10px var(--highlight2-color);
    background-color: var(--alternative-color);
    color: var(--font-color);
}

.class-ct .wdd {
    background-color: var(--main-color);
    color: var(--font-color);
}
.class-ct .cse {
    background-color: var(--font2-color);
}

.complete::after{
    content: " ✓";
    color: green;
}
.missing::after{
    content: " ❌";
    font-size: .9rem;
}

#stats p {
    margin-right: 10px;
    font-size: var(--small);
    display: inline;
}
#stats  {
    padding: 10px 0 0 8px ; 
}

#courses,
#credits {
    color: var(--font2-color);
    font-size: var(--normal);
}

/*  footer stuff -------------- */
footer{
    background-color: var(--secundary-color);
}

footer p{
    font-size: var(--small);
    text-align: center;
    color: var(--font-color);
}