:root{
    --main-color: #91c2ff;
    --secundary-color:#91c2ff;
    --alternative-color:#91c2ff;
    --font-color:#91c2ff;
    --font2-color:#91c2ff;
    --highlight-color:#91c2ff;
    --highlight2-color:#91c2ff;
}